#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

.smile {
  opacity: 0;
  transition: opacity 0.8s ease;
  /* Smooth fade-out by default */
}

/* When visible = true */
.smile.show {
  opacity: 1;
  transition: none;
  /* Appear instantly */
}

/* When visible = false */
.smile.hide {
  opacity: 0;
  transition: opacity 0.8s ease;
  /* Fade out slowly */
}